body {
	background-color: #eeeeee; 
	font-family: helvetica,arial,sans-serif ;
	margin: 0 auto;
	padding-bottom: 200px;
    width: 1366px;
    border: 1px solid black;

}

main {
    clear: both;
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 154px;
    width: 100%;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    background-color: #CDFFFF;
    text-align: center;
    text-decoration: none;
    color: #400D12;
}

/* Change the link color to Light Blue Viking on hover */
li a:hover {
    background-color: #4FD5D6;
}

/* This should show the user a solid color on the button which represents which page they are on*/
.active {
    background-color: #4FD5D6;
}

/* Logo CSS*/
.badge {
    text-align: center;
    position: relative;
    border: 3px solid white;
    bottom: 60px;
    margin: 0 auto;
    left: 20px;
    top: 10px;
}

div.img {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    overflow: hidden;
    margin: 0 auto;
    width: 270px;
    height: 270px;
    float: left;
    position: relative;
    left: 115px;
}

.badge i {
    color: #ffffff;
    line-height: 20px;
    font-size: 25px;

}

.h1 {
    text-align: center;
}

.share{
    float: right;
    text-align: right;
    width: 300px;
    word-spacing: -6px;
}

.share li {
    float: none;
    display: inline-block;
}
